<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InsertionController</servlet-name>
        <servlet-class>controller.InsertionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreationController</servlet-name>
        <servlet-class>controller.CreationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchByPriceController</servlet-name>
        <servlet-class>controller.searchByPriceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommandeController</servlet-name>
        <servlet-class>controller.CommandeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertionStockMateriaux</servlet-name>
        <servlet-class>controller.InsertionStockMateriaux</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertionEmployerController</servlet-name>
        <servlet-class>controller.InsertionEmployerController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertionController</servlet-name>
        <url-pattern>/InsertionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreationController</servlet-name>
        <url-pattern>/CreationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchByPriceController</servlet-name>
        <url-pattern>/searchByPriceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommandeController</servlet-name>
        <url-pattern>/CommandeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertionStockMateriaux</servlet-name>
        <url-pattern>/InsertionStockMateriaux</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertionEmployerController</servlet-name>
        <url-pattern>/InsertionEmployerController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
